*{
    color: var(--black-700, #222);
    font-family: Montserrat;
    font-style: normal;
    line-height: 19px;
    letter-spacing: 0.36px;
}
p, h1, h2{
    margin: 0px;
}
h2{
   margin-bottom: 32px; 
}

.wraper{
    margin: 0px;
    max-width: 1440px;
    padding: 60px 40px;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    gap: 60px;
}

.pet{
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr 1fr; 

}
.pet-img{
    width: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about-wraper{
    padding: 8px 40px;
    border-radius: 15px;
    background: var(--white-500, #EBEBEB);
}

.pet_about{
    display: grid;
    gap: 40px ;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;

}

.info-wrapper{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.ownerinfo hr {
    width: 100%;
    margin: 20px 0; 
    border: none; 
    border-top: 1px solid #ddd; 
    
}

h1{
    color: var(--Neutral-Color-100, #00171F);
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 53.9px; /* 112.292% */
}

h2{
    color: var(--black-700, #222);
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 16.413px; /* 58.619% */
}
.description{
    padding: 40px 32px;
    border-radius: 15px;
    background: var(--white-500, #EBEBEB);

    color: var(--black-700, #222);

    /* text */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.4px; /* 152.5% */
    letter-spacing: -0.16px;
}