*{
    color: var(--black-700, #222);
    font-family: Montserrat;
    font-style: normal;
    line-height: 19px;
    letter-spacing: 0.36px;
}
p{
    margin: 0px;
}

.wraper{
    margin: 0px;
    max-width: 1440px;
    padding: 60px 40px;
    margin-inline: auto;

}

.pet{
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr 1fr; 

}
.pet-img{
    width: 100%;
}

.about-wraper{
    padding: 8px 40px;
    border-radius: 15px;
    background: var(--white-500, #EBEBEB);
}

.pet_about{
    display: grid;
    gap: 40px ;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0;

}

.info-wrapper{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.ownerinfo hr {
    width: 100%;
    margin: 20px 0; 
    border: none; 
    border-top: 1px solid #ddd; 
    
}

.description{
    padding: 40px 32px;
    border-radius: 15px;
    background: var(--white-500, #EBEBEB);
}