<div class="wraper">
  <div class="pet">
    <div class="carouselle">
      <img
        class="pet-img"
        src="../../assets/images/pet_pics/pet (1).png"
        alt=""
      />
    </div>
    <div class="info">
      <h1>Titi - Pomeranian White</h1>
      <div class="about">
        <h2>About :</h2>
        <div class="about-wraper">
          <div class="pet_about" *ngFor="let item of about; let i = index">
            <p>{{ item }}</p>
            <p>{{ aboutInfo[i] }}</p>
          </div>
        </div>
      </div>

      <div class="owner">
        <h2>Owner Contact info :</h2>
        <div *ngFor="let item of owner; let last = last" class="ownerinfo">
          <div class="info-wrapper">
            <img [src]="item.icone" />
            <p>{{ item.ownerInfo }}</p>
          </div>
          <hr *ngIf="!last" />
          <!-- Horizontal line -->
        </div>
      </div>
    </div>
  </div>
  <div class="description">
    <h2>Description:</h2>
    <p>
      This beautiful whippet mix girl is Norah, and she is approx 2 yrs old
      <tr>
        -
      </tr>
      ❤️‍🩹❤️‍🩹 WELCOME NORAH ❤️‍🩹❤️‍🩹
      <tr>
        -
      </tr>
      This beautiful whippet mix girl is Norah, and she is approx 2 years old 😍
      <tr>
        -
      </tr>
      Norah was left into a local dog pound and she has since joined us.
      Unfortunately, due to being quite thin, we have put off her spay surgery
      until she is a little more at herself, so we will be working on that for
      the next week or 2 ✔️
      <tr>
        -
      </tr>
      She is a very sweet, timid girl, a real lady, and we look forward to
      learning more about her during her time with us ❤️‍🩹
      <tr>
        -
      </tr>
      Norah is also in need of foster, so if you can help , please get in touch
      <tr>
        -
      </tr>
      ✔️ Welcome Norah ❤️
    </p>
  </div>
</div>
