/* top header */
/* top header */

*{
    color: var(--black-700, #222);
    font-family: Montserrat;
    font-size: 14px;
    line-height: 19px; /* 135.714% */
    letter-spacing: 0.28px;
}


.topHeader {
    margin: 0px;
    background-color: #FFD43C;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44px;
}


.container {
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    padding: 0 40px;
    gap: 40px;
}

.allPetsy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 170px;
    width: 100%;
    padding: 0 8px 0 0;
    gap: 20px;
}


.openFrom{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.nb{
    width: 100%;
}




.phone{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.languages{

    display: flex;
    flex-direction: row;
    justify-content: right;
    max-width: 170px;
    padding: 0 0px 0 8px;
    gap: 20px;

}


.allPetsy a, .languages a{
    color: var(--black-700, #222);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.36px;
}

/* bot header */
/* bot header */
a{
    text-decoration: none;
}



.botHeader {
    margin: 0px;
    border-bottom: 3px solid #EBEBEB;

    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.botContainer{
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    padding: 0 40px;
    gap: 40px;

}
.logo{
    padding-top: 4px;
    height: 44px;
}

.animalHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 420px;
    gap: 12px;
}

.ani{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

}
.ani img{
    padding-right: 8px;
}

.serUser{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 16px;
    width: 100%;
    max-width: 420px;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;


}
.ppic{
    width: 40px;
    height: 40px;
    background-color: #FFD43C;
    border-radius: 50px;
}




.search {
    width: 100%;
    
    height: 40px;
    border-radius: 60px;
    background: var(--white-500, #EBEBEB);

    border: 0px;
    background-image: url('../../assets/images/vectors/searchVector.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 12px center; 
    padding-left: 40px; 
}







@media (max-width: 600px) {
    .account{
        display: none;
    }
}

@media (max-width: 910px) {
    .openFrom, .animalHeader{
        display: none;
    }
}