<div class="topHeader">
  <div class="container">
    <div class="allPetsy">
      <a>Pets</a>
      <a>Store</a>
      <a>Blog</a>
    </div>

    <div class="openFrom">
      <div class="phone">
        <img src="../../assets/images/vectors/phone-call.svg" alt="O" />
        <p><strong>+217 27 600 300</strong></p>
        <img src="../../assets/images/vectors/arrow down Vector.svg" alt="" />
      </div>
      <p>Open from 8:00 AM - 6:00 Pm</p>
    </div>

    <div class="languages">
      <a>EN</a>
      <a>FR</a>
      <a>AR</a>
    </div>
  </div>
</div>
