<div class="topHeader">
  <div class="container">
    <div class="allPetsy">
      <a>Pets</a>
      <a>Store</a>
      <a>Blog</a>
    </div>
    <div class="openFrom">
      <div class="phone">
        <img src="../../assets/images/vectors/phone-call.svg" alt="O" />
        <p><strong>+217 27 600 300</strong></p>
        <!-- 
          <img src="../../assets/images/vectors/arrow down Vector.svg" alt="" />
         -->
      </div>
      <p>Open from 8:00 AM - 6:00 Pm</p>
    </div>

    <div class="languages">
      <a>EN</a>
      <a>FR</a>
      <a>AR</a>
    </div>
  </div>
</div>

<!-- Bototom header -->
<!-- Bototom header -->

<div class="botHeader">
  <div class="botContainer">
    <img src="../../assets/images/logobalck.svg" alt="" class="logo" />

    <div class="animalHeader">
      <a href="dogs">
        <div class="ani">
          <img src="../../assets/images/vectors/dogVector.svg" />
          <p>Dogs</p>
        </div>
      </a>
      <a href="cats">
        <div class="ani">
          <img src="../../assets/images/vectors/catVector.svg" />
          <p>Cats</p>
        </div>
      </a>
      <a href="birds">
        <div class="ani">
          <img src="../../assets/images/vectors/birdGroup.svg" />
          <p>Birds</p>
        </div>
      </a>
      <a href="others">
        <div class="ani">
          <img src="../../assets/images/vectors/other star Vector.svg" />
          <p>Others</p>
        </div>
      </a>
    </div>
    <div class="serUser">
      <input type="text" class="search" placeholder="Search..." />
      <div class="user">
        <p class="account">Account</p>
        <img src="../../assets/images/user/face.png" alt="nope" class="ppic" />
      </div>
    </div>
  </div>
</div>
