<div class="footer">
  <div class="wraper">
    <div class="top-footer">
      <div class="left-footer">
        <a routerLink="" class="yellow-text">Home</a>
        <a routerLink="" class="yellow-text">Category</a>
        <a routerLink="" class="yellow-text">About</a>
        <a routerLink="" class="yellow-text">Contact</a>

        <a routerLink="">Dog</a>
        <a routerLink="">Rabbits</a>
        <a routerLink="">horses</a>
        <a routerLink="">Cows</a>

        <a routerLink="">Cat</a>
        <a routerLink="">Rabbits</a>
        <a routerLink="">Goats</a>
        <a routerLink="">horses</a>

        <a routerLink="">Bird</a>
        <a routerLink="">hamsters</a>
        <a routerLink="">Fish</a>
        <a routerLink="">Other</a>
      </div>
      <div class="right-footer">
        <p>Follow Us:</p>
        <div class="social">
          <img src="../../assets/images/vectors/Facebook.svg" />
          <img src="../../assets/images/vectors/Twitter - Negative.svg" />
          <img src="../../assets/images/vectors/Instagram - Negative.svg" />
          <img src="../../assets/images/vectors/YouTube - Negative.svg" />
        </div>
        <div class="phone">
          <p>Phone</p>
          <img src="../../assets/images/vectors/phone-white.svg" alt="O" />
          <p>+216-27-600-300</p>
        </div>
      </div>
    </div>
    <div class="Bototom-footer">
      <p class="center-it">© 2024 Petsy. All rights reserved.</p>
      <img src="../../assets/images/logo white.svg" alt="" class="center-it" />
      <div class="terms-privacy">
        <a routerLink="" class="center-it">Terms of Service</a>
        <a routerLink="" class="center-it">Privacy Policy</a>
      </div>
    </div>
  </div>
</div>
