a, p{
    color: var(--white-500, #EBEBEB);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin: 0;
}

.footer{
    background: var(--black-700, #222);
    color: var(--white-500, #EBEBEB);
}

.wraper{
    margin: 0px;
    max-width: 1440px;
    padding: 60px 40px;
    margin-inline: auto;
}

.top-footer{
    display: grid;
    gap: 60px;

    grid-template-columns: 1fr 1fr;
}

.left-footer{
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.yellow-text{
    color: var(--yellow-500, #FFD43C);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.right footer{
    display: flex;
    flex-direction: column;
    gap: 24px;

}


.Bototom-footer{
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;

}

.terms-privacy{
    display: grid;
    gap: 150px;
    grid-template-columns: 1fr 1fr;
}


.center-it{
    margin: auto;
}